
$edit-color: #eab118;
$prim-color: #1269b0;
$sec-color: #1269b0;
$sec-color1: #c3c3c3;
$sec-color2: #bddbdb;
$grey: #9D9B9B;
$light-grey: #eeeeee;
$greytext: #16271c;
$white: #fff;
$red: red;
$bold: bold;
$trans: all 0.2s;
$shadow: 1px 1px 3px rgba(0,0,0,.3);
$xl: 25px;
$l: 16px;
$m: 14px;
$s: 12px;
$xs: 5px;
$padding: 1em;
$hover-background: #3B454F;
$usersTablePopupWidth: 400px;
$azul-claro: #ddd; 
