<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!--produccion-->
	<connectionStrings>
		<add name="ContaPreModel"
             connectionString="data source=SUIMPAPPMAD041\I041;initial catalog=CONTAPRE;persist security info=True;User Id=sa;Password=0jHa1dre01;MultipleActiveResultSets=True;App=EntityFramework"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="oracleConnectionString"
             connectionString="User Id=uimpadm;Password=uimpadm07;Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 172.29.2.60)(PORT = 2585)))(CONNECT_DATA =(SERVICE_NAME = uxxiacp_debug)));"
             providerName="Oracle.DataAccess.Client"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="connectToOracle" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="environment" value="release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="version" value="24.11.19" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="enableErrorTrace" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="LogUserRequestInfo" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SendErrorEmails" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SendErrorEmailsUsers" value="jamartinezi@empresas.uimp.es, pruebas2@uimp.es, ssardina@uimp.es" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

	<appSettingsEmail>
		<add key="smtp.from.noreply" value="noreply@uimp.es" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="smtp.network.host" value="aspmx.l.google.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="smtp.network.port" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="smtp.network.userName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="smtp.network.password" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="smtp.network.enableSsl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettingsEmail>

	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes" />
	</system.web>
	
</configuration>
