<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Credenciales de Acceso a a plataforma CONTAPRE</title>
</head>
<body>
    <p>Hola {{UserName}},</p>
    <p>Has solicitado tus credenciales de acceso a la plataforma CONTAPRE</p>
    <p>Tu usuario es: <strong>{{UserLogin}}</strong></p>
    <p>Tu contraseña es: <strong>{{Password}}</strong></p>
    <p>Puedes acceder a la plataforma utilizando el siguiente enlace:</p>
    <p><a href="{{AppUrl}}">{{AppUrl}}</a></p>
    <p>Por favor, no respondas a este mensaje. Si tienes alguna duda, contacta con el administrador de la plataforma.</p>
</body>
</html>